
.involucramiento-tip{
    margin-top: 6.5rem;
    margin-bottom: 2rem
}
/* .img-involucramiento{
    background-image: url("../../../../../images/fase3-img/modelo/involucramiento-img/involucramiento.png");
    background-repeat: no-repeat;
    height: 55rem;
    background-size: contain;
    width: 100%;
} */
