

  .toolbar{
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 6rem;
    left: 0;
    top: 0;
    z-index: 50;
    /* border-bottom: 2px solid #aca7a78a; */
    box-shadow: 0px 2px 2px 0px #dbdadafa;
  }

  .toolbar-navigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 1rem 1.5rem;
  }
.spacer{
  flex: 1
}
 /* .toolbar-logo{
   margin-left: 1rem;
 } */
 .logo{
   width: 11rem;
   height: auto;
 }
 .logo-box{
    text-decoration: none;
    width: 38%;
  }

  .tollbar-navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .tollbar-navigation-items li{
    padding: 0 0.5rem;

  }

  .tollbar-navigation-items a{
    color: #7dc7c5;
    text-decoration: none;
    font-size: 1.4rem;
  }

  .tollbar-navigation-items a:hover,
  .tollbar-navigation-items a:hover{
    text-decoration: none;
    font-weight: 500;
    color:#7dc7c5 ;
  }
  
  @media(max-width: 768px){
    .tollbar-navigation-items{
      display: none;
    }
    .toolbar{
      height: 4.5rem;
    }
    .logo{
      width: 6.5rem
    }
   
  }

  @media(min-width: 768px){
    .toolbar-toggle-button{
      display: none
    }
  }

  /*ejemplo*/

.item-nav{
  position: relative;
  display: flex;

  align-items: center;
  text-decoration: none;

  padding: .5rem 1rem;
}

.is-activeHome{
 font-weight: bold!important;
    border-bottom: solid 5px #7dc7c5;
}