.logo{
  width: 6.2rem;
  height: auto;
}
.custom-toggler{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(119,196,194)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M10 8h20M10 16h20M10 24h20'/%3E%3C/svg%3E")!important;
}

nav{
    z-index: 19;
    font-family: 'Questrial';
    box-shadow: 1px 2px 1px #9a9b9e52
  }
  /* .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    border-bottom: 1px solid #7dc7c5
  } */
  .navbar-light .navbar-nav .nav-link:focus{
    border-bottom: 1px solid #000;
  }
  .navbar-light .navbar-nav .nav-link:hover{
    color: #000!important;
    cursor: pointer;
  }

  @media (min-width: 769px) {
    html {
     font-size: .98vw;
     font-family: 'Questrial';
   } 
   
   /* MENU */
   
   .logo{
     width: 8.5rem;
   }
   .navbar-brand{
     margin-bottom: 1rem;
     margin-left: 1rem
   }
   #navbarNav{
    justify-content: flex-end;
     font-size: 1.3rem;
     
   }
   #navbarNav ul li{
     margin-left: 1rem;
     margin-right: 1rem;
     
   }
   .text-desktop-aquamarine{
    color: #7dc7c5!important
   }
   /* .navbar-light .navbar-nav .nav-link{
    color: #7dc7c5
   } */
  }