/*HIGIENE*/

.box-title-higine {
  background: url(./../../../../images/fondo-encabezado-higiene.png) no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  /*height: 100vh;
    width: 100%;*/
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

}

.box-title-socioemocional {
  background: url(./../../../../images/areas-img/socioemocional_fondo_desktop.png) no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  /*height: 100vh;
    width: 100%;*/
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
background-color: #AE96B2;
}

.box-title-rutina {
  background: url(./../../../../images/areas-img/rutina_fondo_desktop.png) no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  /*height: 100vh;
    width: 100%;*/
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
background-color: #EF8B44;
}

.box-title-juego {
  background: url(./../../../../images/areas-img/juego_fondo_desktop.png) no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  /*height: 100vh;
    width: 100%;*/
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #F7B919;
}

.box-title-nutricion {
  background: url(./../../../../images/areas-img/nutricion_fondo_desktop.png) no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  /*height: 100vh;
    width: 100%;*/
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #EB477A;
}

.box-title-sesamo {
  background: url(./../../../../images/areas-img/sesamo_fondo_desktop.png) no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-bottom: 8rem;
  /*height: 100vh;
    width: 100%;*/
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}


.icono-area {
  height: 7rem;
  margin: 0 auto;
}

.icono-sesamo {
  height: 10rem;
  margin: 0 auto;
}
.title-area {
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 2.5rem;
  -webkit-text-stroke: 1.5px #ffffff;
  letter-spacing: 0.9px;
  font-family: "Questrial";
  margin-top: 1.5rem;
  margin-bottom: 10rem;
}

.box-section {
  background-color: #ffffff;
  box-shadow: 0 0 16px rgba(134, 129, 129, 0.384);
  margin: 1rem 1rem 1rem 1rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 20px;
  display: flex;
}

.list-videos-tips {
  margin-top: -6rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.icono-video-tip {
  height: 5rem;
}

.box-text-video-tip {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Questrial";
  color: #2e335e;
  margin: 0.5rem 0.5rem 0rem 2rem;

  /* -webkit-text-stroke: 1.5px #7dc7c5;
    font-size: 1.5rem;*/
}

.subtittle-video-tip {
  -webkit-text-stroke: 1.5px #2e335e;
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
}

.text-video-tip {
  -webkit-text-stroke: 0.5px #2e335e;
  font-size: 1rem;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .box-section {
    background-color: #ffffff;
    box-shadow: 0 0 16px rgba(134, 129, 129, 0.384);
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 20px;
    display: flex;
  }

  .list-videos-tips {
    margin-top: -6rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .icono-video-tip {
    height: 3rem;
  }

  .box-text-video-tip {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Questrial";
    color: #2e335e;
    margin: 0.5rem 0.5rem 0rem 0.5rem;

    /* -webkit-text-stroke: 1.5px #7dc7c5;
        font-size: 1.5rem;*/
  }

  .subtittle-video-tip {
    -webkit-text-stroke: 1.5px #2e335e;
    font-size: 0.8rem;
    text-align: left;
  }

  .text-video-tip {
    -webkit-text-stroke: 0.5px #2e335e;
    font-size: 0.7rem;
    text-align: left;
   
  }

  .box-title-higine {
    background: url(./../../../../images/areas-img/higiene-fondo-mobile.png) no-repeat;
    padding-top: 5rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 22rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
   
  }

  .box-title-socioemocional {
    background: url(./../../../../images/areas-img/socioemocional_fondo_mobile.png) no-repeat;
    padding-top: 5rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-color: #AE96B2;
   
  }

  .box-title-rutina {
    background: url(./../../../../images/areas-img/rutina_fondo_mobile.png) no-repeat;
    padding-top: 5rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-color: #EF8B44;
  }

  .box-title-juego {
    background: url(./../../../../images/areas-img/juego_fondo_mobile.png) no-repeat;
    padding-top: 5rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-color: #F7B919;
  }



  .box-title-nutricion {
    background: url(./../../../../images/areas-img/nutricion_fondo_mobile.png) no-repeat;
    padding-top: 5rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-color: #EB477A;
  }

  .box-title-sesamo {
    background: url(./../../../../images/areas-img/sesamo_fondo_mobile.png) no-repeat;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-color: #05AB4C;
  }
  .icono-area {
    height: 5rem;
    margin: 0 auto;
  }
  .title-area {
    font-size: 1.5rem;
    line-height: 1.8rem;
    -webkit-text-stroke: 1.5px #ffffff;
    letter-spacing: 0.5px;
    font-family: "Questrial";
    margin: 1.5rem 5rem 7rem 5rem;
  }
  .list-videos-tips {
    margin-top: -4rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .icono-sesamo {
    height: 7rem;
    margin: 0 auto;
  }
}
