.background-tips-higiene {
    background: url(./../../../../images/areas-img/tips_higiene.png) no-repeat;
    height: 90vh;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }

  .tittle-tips {
    font-family: 'Questrial';
    color: #2E335E;
    font-weight: 900;
    letter-spacing: 0.05em;
    font-size: 2rem;
    padding-top: 6rem;
    -webkit-text-stroke: 2px #2E335E;
}

.tips-numbers{
    font-family: 'Questrial';
    color: #2E335E;
    letter-spacing: 0.05em;
    -webkit-text-stroke: 0.5px #2E335E;
}

.tips-margin-top{
margin: 3rem 3rem 1rem 3rem !important;
}

.text-tips{
    padding: 4rem 0rem 0rem 2rem;
}
.text-tips-light{
    font-family: 'Questrial';
    color: #2E335E;
    letter-spacing: 0.05em;
    font-size: 1.35rem;
    font-weight: 600;
    text-align: center;

}

.text-tips-bold{
    font-family: 'Questrial';
    color: #2E335E;
    letter-spacing: 0.05em;
    font-size: 1.35rem;
    font-weight: 900;
    text-align: center;
    -webkit-text-stroke: 0.5px #2E335E;

}
iframe{
    background-color:#2E335E;
    border-color:#5FACAA;
    width:360px;
      height:300px;
    border-width:8px;
    border-style:solid;
    border-top: solid 20px rgb(36, 88, 87); 
    border-left: dotted 20px #7DC7C5;
    border-bottom: solid 20px rgb(36, 88, 87); 
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }