.siguiente{
    font-size: 1.2rem;
    text-align: center;
    font-family: "Questrial";
    color: #EF8B44;
    /* text-decoration: underline; */
    -webkit-text-stroke: 1px #EF8B44;
    letter-spacing: .1rem
}

.siguiente:hover{
    color: #2E335E;
    -webkit-text-stroke: 1px #2E335E;
    
}

.boton-guardar-perfil{
    position: relative;
    left: 6rem
}

.boton-guardar-perfil:hover,
.boton-guardar-perfil:focus{
    box-shadow: 2px 2px 16px #2E335E
}


.boton-guardar-nino:hover,
.boton-guardar-nino:focus{
    box-shadow: 2px 2px 16px #2E335E
}


.subtitulo-perfil{
    font-size: 1.4rem;
    font-family: "Questrial";
    margin-top: 1rem;
    color: #2E335E;
    font-weight: 800;
}


.addChild{
    margin-top:1rem;
    font-size: 1.2rem;
    font-weight: 800;
    float: right;
    font-family: "Questrial";
    color: #2E335E;
}

.box-sectionChild {
    background-color: #ffffff;
    box-shadow: 0 0 2px rgb(134, 129, 129);
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    display: flex;
  }
  
.vertical-line{
    width: 0.2rem; /* Line width */
    background-color: #2E335E; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. 
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
  }

  .marginPerfilChild{
      margin-left: 2rem;
  }
  .btn-editar-eliminar{
      margin: 2rem 4rem;
  }

  .texto-modal{
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      float: right;
      font-family: "Questrial";
      color: #2E335E;

  }
  
  .list-register2 {
    box-shadow: 0 0 10px rgba(134, 129, 129, 0.363);
    margin: 3rem 6rem 5rem 6rem;
    padding: 3rem 4rem 3rem 4rem;
    border-radius: 20px;
  }

  .btn-navy-blue-password{
    background-color:#7DC7C5;
    padding: 8px 2px;
    border-radius: 25px;
    border: 1.3px solid #1A1F46;
    box-shadow: 1px 1px 1px 1px #1A1F46;
    font-size: 1rem;
    text-align: center;
    text-decoration:none!important;
    font-weight: 550!important;
    display: block;
    margin:0 auto;
    font-family: "helvetica";
    
    }
    .btn-navy-blue-password:hover,.btn-navy-blue:focus{
      border: 2.5px #1A1F46;
      text-decoration: none;
      /* font-size: .9rem; */
    }
  

    .box-actualizar-password{
      margin-top: 1rem;
      background-color: #ffffff;
      box-shadow: 0 0 2px #7DC7C5;
      margin: 2rem 0.5rem 0.5rem 0.5rem;
      padding: 1rem 1rem 1rem 1rem;
      border-radius: 20px;

    }
    .arrow-blue-password{
      width: 1.2rem;
      height: auto;
      margin-left: 1rem;
      margin-right: 1rem;
    }


    

  @media (max-width: 768px) {
    .list-register2 {
        box-shadow: 0 0 10px rgba(134, 129, 129, 0.363);
        margin: 1rem 1rem 1rem 1rem;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 20px;
      }
      
      .vertical-line{
        margin: 1.5rem 4rem;
        width: 50%; /* Line width */
        text-align: center;
        background-color: #2E335E; /* Line color */
        height: 0.2rem; /* Override in-line if you want specific height. */

      }
      .marginPerfilChild{
        margin-left: 0rem;
    }
    .btn-editar-eliminar{
        margin: 1rem 1rem;
    }

    .siguiente{
        font-size: 1.2rem;
        text-align: center;
        font-family: "Questrial";
        float: right;
        letter-spacing: .05rem
        
    }


.boton-guardar-perfil{
    position: relative;
    left: 0rem
}
  }
  