.loginDivider {
  text-align: center;
  overflow: hidden;
  margin: 1rem auto;
  width: 94%;
}

.loginDivider-text {
  position: relative;
  color: #2e335e;
  font-family: "Questrial";
  padding: 12px;
  font-weight: 600;
  font-size: 1.4rem;
}
.loginDivider-text:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  width: 5000px;
  border-bottom: 1px solid #e4e4e4;
}
.loginDivider-text:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 5000px;
  border-bottom: 1px solid #e4e4e4;
}
.list-login {
  box-shadow: 0 0 9px rgb(134, 129, 129,0.3);
  margin: 2rem 24rem 2rem 24rem;
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 20px;
}

.letter-login {
  color: #2e335e;
  font-family: "Questrial";
  font-size: 1.2rem;
  margin-bottom: 0;
}

.box-text-a {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
  color: #2e335e;
  font-size: 1.2rem;
  letter-spacing: 0.9px;
}
.text-a {
  text-align: center;
  color: #2e335e;
  -webkit-text-stroke: 0.8px #2e335e;
  font-family: "Questrial";
  font-size: 1.2rem;
  letter-spacing: 0.9px;
}

.box-register {
  display: flex;
  justify-content: center;
}

.btn-login {
  background-color: #2e335e;
  padding: 10px 2px;
  border-radius: 25px;
  border: 4px solid #1a1f46;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  text-decoration: none !important;
  font-weight: 600 !important;
  display: block;
  margin: 0 auto;
}

.btn-facebook-google {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
.btn-facebook {
  background-color: #1e4fad;
  padding: 12px 20px;
  border-radius: 5px;
  border: 4px solid rgb(26, 67, 143);
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none !important;
  font-weight: 600 !important;
  font-family: "Questrial";
  letter-spacing: 1.2px;
  margin: 0.5rem auto;
  width: 24rem;
}

.btn-google {
  background-color: #e6433e;
  padding: 12px 20px;
  border-radius: 5px;
  border: 4px solid rgb(201, 59, 54);
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none !important;
  font-weight: 600 !important;
  font-family: "Questrial";
  letter-spacing: 1.2px;
  margin: 0.5rem;
  width: 24rem;
}

@media (max-width: 768px) {
  .list-login {
    box-shadow: 0 0 9px rgb(134, 129, 129,0.3);
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 20px;
  }
  .letter-login {
    color: #2e335e;
    font-family: "Questrial";
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  .box-text-a {
    margin: 1rem 0 0 0;
    font-size: 0.9rem;
  }
  .text-a {
    color: #2e335e;
    -webkit-text-stroke: 0.6px #2e335e;
    font-size: 0.9rem;
  }

  .btn-facebook {
    padding: 6px 10px;
    font-size: 0.8rem;
    margin: 0.5rem auto;
    width: 14rem;
  }

  .btn-google {
    padding: 6px 10px;
    font-size: 0.8rem;
    margin: 0.5rem auto;
    width: 14rem;
  }
  .btn-login {
    padding: 10px 2px;
    font-size: 0.8rem;
    margin: 0.5rem auto;
  }

  .loginDivider {
    margin: 0.5rem auto;
  }
}
