.bg-recursos-img-secundaria {
    background-image: url("../../../../../../images/aprendamos-api/API_3_DESKTOP.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    font-family: 'Questrial';
}


.box-title-secundaria {
    padding-top: 10rem;
    text-align: center
}

.img-secundaria {
    width: 5rem;
    height: 100%;
    display: block;
    margin: auto;
    margin-bottom: 1rem
}

.title-secundaria {
    color: #F7B919;
    font-size: 2.4rem;
    letter-spacing: .03rem;
    -webkit-text-stroke: 0.04em #F7B919;
}

.box-btn-secundaria {
    margin-top: 1rem;

}

.btn-secundaria {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem
}

.title-btn-secundaria {
    color: #2E335E;
    -webkit-text-stroke: 0.04em #2E335E;
    font-size: 1.5rem;
    letter-spacing: .03rem;
}

.btn-amarillo-secundaria {
    padding: 2rem;
    background: #F7B919;
    color: #fff;
    text-align: center;
    margin-top: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(172, 171, 171, 0.966);
    font-size: 1.3rem;
    -webkit-text-stroke: 0.04em #fff;
    letter-spacing: .03rem;
}

.btn-amarillo-secundaria:hover{
    cursor: pointer;
    background: #fff;
    color: #F7B919;
    -webkit-text-stroke:#F7B919;
}

.btn-blanco-secundaria {
    padding: 2rem;
    background: #fff;
    color: #F7B919;
    text-align: center;
    margin-top: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 0 9px rgba(172, 171, 171, 0.966);
    font-size: 1.3rem;
    -webkit-text-stroke: 0.04em #F7B919;
    letter-spacing: .03rem;
}

.btn-blanco-secundaria:hover{
    cursor: pointer;
    background: #F7B919;
    color: #fff;
    -webkit-text-stroke:#fff;
}


.interline-btn {
    line-height: 1.4rem
}

.btn-compartir-secundaria{
    position: relative;
    top: -2rem
}


.title-none-secundaria{
    margin-top: 3.5rem;
    font-size: .1rem;
    color: none;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {

    .bg-recursos-img-secundaria {
        background-image: url("../../../../../../images/aprendamos-api/API_3_MOBILE.png");
        height: 100%;
        /* background-position: top; */
        /* background-size: 100% */
    }
    .box-title-secundaria {
        padding-top: 8rem;
    }

    .img-secundaria {
        width: 3rem;
    }

    .title-secundaria {
        font-size: 1.4rem;
        -webkit-text-stroke: .06rem #F7B919;
    }

    .btn-secundaria {
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .title-btn-secundaria {
        font-size: 1rem;
    }
    .box-btn-secundaria {
        margin-top: .5rem;
    }

    .btn-amarillo-secundaria {
        padding: 1rem;
        margin-top: .5rem;
        font-size: .9rem;
        -webkit-text-stroke: 0.03em #fff;
        letter-spacing: .04rem;
    }

    .btn-blanco-secundaria {
        padding: 1rem;
        margin-top: .5rem;
        font-size: .9rem;
        -webkit-text-stroke: 0.03em #F7B919;
        letter-spacing: .04rem;
    }


    .btn-compartir-secundaria{
        position: relative;
        top: 0rem;
        padding-bottom: 1rem
    }

    .title-none-secundaria{
        margin-top: -1.9rem;
        font-size: .05rem;
    }
    
}