#nosotros-page{
    background-color: #7DC7C5;
    text-align: center;
  }

  .title-nosotros{
    color:#2E335E;
    -webkit-text-stroke: 1px #2E335E;
  }
  .box-title{
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    background-color: #fff;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 11rem;
  }
  .left-star{
    width: 6rem;
    height: auto;
    position: relative;
    top: -2rem;
  
  
  }
  .right-star{
    width: 6rem;
    height: auto;
    position: relative;
    top: -2rem;
    float: right;
  }
  .stars-group{
    display: none
  }

  .video{
    width: 90%;
    margin: auto
  }

  .video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    /*padding-top: 30px;  IE6 workaround*/
    height: 0;
    overflow: hidden;
    
    }
    
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }


  .box-crecer-agua{
    display: flex;
    justify-content: center;
    align-items: center
  }


  .info-1{
    width: 100%
  }
  .box-orange{
    text-align: left;
    color:#EF8B44;
    line-height: 1rem;
    font-size: .85rem;
    /* padding-right: 1.8rem; */
    padding-left: .8rem;
   
  }
  .box-blue{
    text-align: left;
    color :#7DC7C5;
    line-height: 1rem;
    font-size: .85rem;
    /* padding-right: 1.8rem; */
    padding-left: .8rem
  }
  .adelante{
    z-index: 12!important;
  }
.cohete-fondo{
  background-image: url('../../images/nosotros-img/cohete_fondo.png');
  object-fit: contain;
  height: 43rem;
  width: 100%;
  background-position:top;
  background-repeat: no-repeat;
  background-size: 105%;
  margin-top: -1.5rem;
  z-index: 8;
  position: relative;
}

  .cohete-right{
    position: absolute;
    top: 16rem;
    left: 9.8rem;
  }
  .cohete1{
    position: relative;
    border-bottom-style: dashed;
    border-bottom-width: 1.4px;
    padding-left: 1rem;
    padding-bottom: .5rem;
    text-align: right
  
  }
  .title-cohete-1{
    display: flex;
    color: #fff;
    /* margin-bottom: -1.5rem; */
    position: relative;
    left: 1.5rem;
    bottom: -1.2rem;
    
  }
  .numero-cohete{
    width: 30%;
    font-size: 2.5rem;
    font-family: "Helvetica"
  }
  .fase-cohete{
    width: 70%;
    text-align: initial;
    font-size: .7rem;
    line-height: .7rem;
    letter-spacing: .07rem;
    position: relative;
    bottom: -1.3rem;
    left: -.2rem;
    font-family: "Helvetica";
  }
  .left-5-rem{
    left: 0rem
  }
  .arrow-orange-cohete{
    width: 1rem;
    padding: 0 .2rem ;
  }
  .btn-cohete{
    color: #fff;
    background-color: #EF8B44;
    padding: .25rem .30rem;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: .5rem;
    letter-spacing: .05rem;
    cursor: pointer;
    z-index: 50;
    position: relative;
    box-shadow: 1px 1px 1px 1px #CE6A24;
    font-family: "helvetica";
    font-weight: 550;
  }
  .btn-cohete:hover,
  .btn-cohete:focus{
    border: 1.5px solid #CE6A24;
    text-decoration: none;
    color: #fff;
  }
  .cohete-left{
    position: absolute;
    top: 20rem;
    left: 2.7rem;
  }

  .cohete2{
    position: relative;
    border-bottom-style: dashed;
    border-bottom-width: 1.4px;
    padding-bottom: .5rem;
    text-align: left;
    padding-right: 3.65rem;
  }
  .title-cohete-2{
    display: flex;
    color: #fff;
    /* margin-bottom: -1.5rem; */
    position: relative;
    bottom: -1.2rem;
    
  }

  .cohete-right3{
    position: absolute;
    top: 25rem;
    left: 9.2rem;
  }

  .cohete3{
    padding-left: 3.5rem;
    border-bottom-style: dashed;
    border-bottom-width: 1.4px;
    padding-bottom: .5rem
  }
  .title-cohete-3{
    left: .8rem;
  }
  .cohete-left4{
    position: absolute;
    top: 30rem;
    left: 2.7rem;
  }
.cohete4{
  padding-right: 2.4rem
}
.fase-cohete-4{
  left: -.8rem;
  bottom: -.6rem
}
.box-img-info{
  width: 15%
}
.crecer{
  width: 40%
}
.agua{
  width: 30%
}



/* fondo en construccion */

.background-fase3{
  background-image: url('../../images/fase3-img/fondo_fase_3_mobile.png');
  height: 100vh;
    background-size: cover;
    background-position: top center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.cohete-construccion{
  width: 50%;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translate(-50%)
}
.tittle-construccion-fase3{
  font-family: 'Questrial';
  color:#2E335E ;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: -.3rem
}
.tittle-construccion-3{
  font-family: 'Questrial';
  color: #2E335E;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 2rem
}



/* fondo en construccion */

@media (min-width: 769px) {
  html {
   font-size: .98vw;
   font-family: 'Questrial';
  } 
  .box-title{
    height: 18rem;
    padding-top:10rem;
  }
  .title{
    font-size: 2.5rem;
    position: absolute
  }
  .left-star, .right-star{
    display: none
  }
  .stars-group{
    display: block;
    position: relative;
    width: 100%
  }
  .stars-left-desktop{
    position: absolute;
    width: 20%;
    left: 20rem;
    top: -3rem
  }
  .stars-right-desktop{
    position: absolute;
    width: 20%;
    right: 20rem;
    top: -3rem
  }
  .video{
    width: 90%;
    margin: auto
  }
  .video .container{
    margin-top: 3rem;
    margin-bottom: 3rem
  }
  .video-responsive{
    width: 75%;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 41.25%;
  }

  .name-video{
    text-align: initial;
    font-size: 1.5rem;
    margin-top: .8rem;
    margin-left: 11.9rem
  }
  .adelante{
    position: relative
  }
  .info-1{
    width: 40%
  }
  .title-h6{
    margin-top: 3rem;
    /* margin-bottom: 10rem; */
    font-size: 1.6rem
  }
 .div-items{
  /* display: none */
 }
  .box-crecer-agua{
    flex-direction: column;
    
  }
  .crecer-left{
    position: absolute;
    left: -4rem;
    top: 20rem
    
  }
  .crecer-right{
    position: absolute;
    right: 5rem;
    top: 20rem
  }
  .box-img-info{
    /* width: 50%; */
    /* margin-left: 3rem */
  }

  .box-gota-agua{
    width: 19%
  }
  .crecer{
    width: 30%;
  }
  .agua{
    width: 35%
  }
  
  .box-orange{
    line-height: 1.5rem;
    font-size: 1.3rem;
    padding-right: 0rem;
    padding-left: 0rem;
    text-align: center;
    width: 50%;
    margin: 0 auto
  }
  .box-blue{
    line-height: 1.5rem;
    font-size: 1.3rem;
    padding-right: 0rem;
    padding-left: 0rem;
    width: 50%;
    margin: 0 auto;
    text-align: center
  }

  .text-info-bottom{
    width: 80%;
    margin: 0 auto;
  }
  .estrellita{
    font-size: 1.5rem
  }
  .cohete-fondo{
    background-image: url('../../images/nosotros-img/fondo-cohete_2.png');
    height: 74rem;
    background-size: 100%
  }
  .numero-cohete{
    font-size: 7rem 
  }
  .cohete1{
    border-bottom-width: 1.8px;
    padding-bottom: 1.5rem;
    padding-left: 8rem;
  }
  .title-cohete-1{
    left: 2.5rem;
  }
  .fase-cohete{
    font-size: 1.7rem;
    line-height: 1.5rem;
    bottom: -4.5rem
  }
  .cohete-right{
    left: 49.6rem;
    top:11rem
  }
  .cohete2{
    border-bottom-width: 1.8px;
    padding-bottom: 1.5rem;
    padding-right: 12rem
  }
  .cohete-left{
    top:21rem;
    left: 27rem
  }
  .cohete3{
    border-bottom-width: 1.8px;
    padding-bottom: 1.5rem;
    padding-left: 10rem;
  }
.cohete-right3{
  top: 31rem;
  left: 48.3rem;
  text-align: right;
}
.cohete4{
  padding-right: 10rem
}
.cohete-left4{
  top: 42rem;
  left: 26rem;
}
.fase-cohete-4{
  bottom: -3rem
}
  .btn-cohete{
    padding: 1rem 1.5rem;
    font-size: 1.2rem
  }
  .arrow-orange-cohete{
    width: 1.7rem
  }

  .m2-desktop{
    margin-bottom: 2rem
  }

  .title-nosotros{
    -webkit-text-stroke: 2px #2E335E;
  }
  .left-5-rem{
    left: .5rem
  }


  /* construccion */
  .background-fase3{
    background-image: url('../../images/fase3-img/fondo_fase_3_desktop.png');
  }

  .cohete-construccion{
    width: 20%;
  }
  .tittle-construccion-fase{
   
    font-size: 1.9rem;
  }
  .tittle-construccion{
    font-size: 3rem
  }
 


  /* construccion */
}