/* otro
 */

 /*Aprendamos*/

 .padding-top {
  padding-top: 7rem;
}

.btn-font-size {
  font-size: 1.2rem;
}

.background {
  background: url(./../../images/fondo_inicio_aprendamos_desktop.png) no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  height: 58rem;
}

.margin-top-bottom {
  margin-top: 14rem;
}



/* construcciom */


.tittle-construccion-fase{
  font-family: 'Questrial';
  color: white;
  font-weight: 700;
  font-size: 1.9rem;
  margin-bottom: -.3rem
}
.tittle-construccion{
  font-family: 'Questrial';
  color: white;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 3rem
}
.tittle-construccion-ok{
  font-family: 'Questrial';
  color: white;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 2.5rem
}




/* construcciom */


/*Aprendamos2*/

.background-blue {
  background: #2e335e no-repeat;
  height: 70rem;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

.background-blanco{
  background: #fff no-repeat;
  height: auto;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  margin-bottom: 2rem
}

.title-aprendamos {
  color: #2e335e;
  text-align: center;
  text-transform: unset;
  line-height: 2.5rem;
  -webkit-text-stroke: 1px #2e335e;
  letter-spacing: 0.9px;
  font-family: 'Questrial';
}

.box-title-aprendamos {
  display: flex;
    justify-content: center;
    padding-top: 10rem;
    background-color: #fff;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 20rem;
}

/* .left-star-aprendamos {
  width: 30rem;
  height: auto;
  position: relative;
  top: -2rem;
  
}
.right-star-aprendamos {
  width: 30rem;
  height: auto;
  position: relative;
  top: -2rem;
} */

.btn-cuidador{
    background: #fff;
    color: #AE96B2;
    -webkit-text-stroke: 0.06em #AE96B2;
    letter-spacing: 0.06em;
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 20px;
    box-shadow: 0 0 9px rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    text-decoration:none!important;
    display: flex;
    font-family: 'Questrial';
    margin: 2rem;
    margin-top: 4rem
}


.btn-aliado{
    background: #fff;
    color: #7DC7C5;
    -webkit-text-stroke: 0.06em #7DC7C5;
    letter-spacing: 0.06em;
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 20px;
    box-shadow: 0 0 9px rgb(0, 0, 0);
    text-transform: uppercase;
    font-size:2.2rem;
    text-align: center;
    text-decoration:none!important;
    display: flex;
    font-family: 'Questrial';
    margin: 2rem;
    margin-top: 4rem
}


.btn-box{
    margin-top:8rem;
    margin-left:13rem;
    margin-right: 13rem;
}

.vertical-center{
    margin-top:2.2rem;
    position: relative;
    left: -1rem;
}

.hide-tittle{
    display: none;
}

.letter-btn{
    margin:1.5rem;
    position: relative;
    left: -1rem;
}

.icono{
  height: 100%;
  width: 8rem;
}
.cohete-volando-figure{
width: 30%
}
.cohete-volando{
  position: absolute;
  left: -15%;
}
.left-star-empieza{
  display: none

}
.right-star-empieza{
  display: none
  
}

.boton-hover-aprendamos:hover{
  transform: scale(1.1)!important;
}
  /*Aprendamos Aliado*/
.modal-header{
border-bottom: 0px!important;
}
.close{
  outline: none!important;
  float: left!important;
}
.caja-boton-rol{
  width: 50%!important;
  margin: auto;
}
/*mobile*/

@media (max-width: 768px) {
/*Aprendamos aliados */
  .caja-boton-rol{
    width: 100%!important;
    margin: auto;
  }
  /* en construccion */
  .background {
    background: url(./../../images/FONDO_APRENDAMOS_INICIO.png) no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }
  .margin-top-bottom {
    margin-top: 10rem;
  }


  .cohete-volando-figure{
    width: 80%
    }
  .cohete-volando{
    position: absolute;
    left: -15%;
  }
  .tittle-construccion-fase{
   
    font-size: 1.4rem;
  }
  .tittle-construccion{
    font-size: 2rem
  }
  .tittle-construccion-ok{
    font-size: 2rem
  }
  .background-blue {
    height: 42rem;
  }


/* en construccion */
  .btn-light-blue {
    background-color: #7dc7c5;
    padding: 12px 20px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px #28aba9;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    text-decoration: none !important;
    font-weight: 500 !important;
  }
  .arrow-blue {
    width: 1.2rem;
    height: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  /*Aprendamos2*/

  .hide-tittle{
      display: block!important;
  }

  .show-tittle{
      display:none!important
  }


  .title-aprendamos {
    font-size: 1.7rem;
    position: absolute;
    color:#2E335E;
    -webkit-text-stroke: 1px #2E335E;
  }
  
  .box-title-aprendamos {
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    height: 18rem;
  }
  
  .btn-box{
    margin-top:-3rem;
    margin-left:0rem;
    margin-right: 0rem;
}

.icono{
    height: 5.2rem;
    width: 5.2rem;
}



.btn-cuidador{
    letter-spacing: 0.06em;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 20px;
    box-shadow: 0 0 9px rgb(143, 143, 143);
    font-size: 2rem;
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    justify-content: center

}


.btn-aliado{
  letter-spacing: 0.06em;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0 0 9px rgb(143, 143, 143);
  font-size: 2rem;
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;
  justify-content: center
 
}
.vertical-center{
    margin-top:1.4rem;
    font-size: 1.5rem;
    float: right!important;
}

.letter-btn{
    margin:0.5rem;
    margin-top: 1.4rem;
    font-size: 0.9rem!important;
    width: 12rem;
    position: relative;
    left: -.5rem;
}
.center-star{
    display:block;
margin:auto;
margin-top:6rem;
height: 1rem;
}
.tittle-construccion{
  font-family: 'Questrial';
  color: white;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.05em;
}
.left-star-empieza{
  width: 6rem;
  height: auto;
  position: relative;
  top: -5rem;
  left: -4rem;

}
.right-star-empieza{
  width: 6rem;
  height: auto;
  position: relative;
  top: -5rem;
  right: -4rem;
  
}

}




