.title-modulo {
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 2.5rem;
    -webkit-text-stroke: 1px #ffffff;
    letter-spacing: 0.9px;
    font-family: "Questrial";
    margin-top: 1rem;
    font-weight: 500;
}

.box-title-modulo {
    background: #7DC7C5;
    display: flex;
    flex-direction: column;
    padding-top: 9rem;
    padding-bottom: 8rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

}

.list-modulo {
    margin-top: -5rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 5rem;

}

.box-text-modulo {
    display: flex;
    /* flex-direction: column; */
    /* text-align: center; */
    font-family: "Questrial";
    color: #2e335e;
    margin: 0.5rem 0.5rem 0rem 2rem;
    align-items: center;
}

.box-text-modulo h3 {
    font-weight: 600;
    font-size: 1.3rem
}

.icono-modulo-tip {
    width: 4rem
}

.box-icon {
    width: 4rem;
}

.letter-modal {
    color: #2e335e;
    font-family: "Questrial";
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0;
    -webkit-text-stroke: 1px #2e335e;
}

.tittle-letter-modal {
    color: #2e335e;
    font-family: "Questrial";
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
    -webkit-text-stroke: 0.1rem #2e335e;
}

.font-white {
    color: #ffffff;
    font-family: "Questrial";
    font-size: 1.1rem;
}

.btn-navy-blue:hover,
.btn-navy-blue:focus {
    border: 3.5px #1A1F46;
    text-decoration: none;

    font-size: 1.3rem !important;
}

.modal-dialog {
    max-width: 40rem !important;
    margin: 1.75rem auto;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem auto !important;
}
/* MODULOSSSSSS */

.box-modulos-aliados{
    margin-top: 7rem;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 4rem;
    font-family: "Questrial";
}

.box-modulos-textos{
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

.flecha-abajo-aliado{
    width: 3%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    margin: auto;
}

.box-materiales-modulos{
    padding-left: 2.1rem!important;
    padding-right: 2.1rem!important;
    margin-top: 3.5rem
}

.title-modulos-aliados{
    color: #EF8B44;
    font-size: 2.3rem;
    line-height: 2.3rem;
    letter-spacing: .018rem;
    margin-bottom: 1.5rem;
    -webkit-text-stroke: 1px #EF8B44;
}

.text-materiales-aliados{
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.3rem;
    letter-spacing: .018rem;
    -webkit-text-stroke: 1px #2E335E;
    color:#2E335E;
    margin-top: 1rem;
    margin-bottom: 5rem

}


.title-materiales-modulos{
    color:#2E335E;
    font-size: 1.6rem;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #2E335E;
}

.subtitle-materiales-modulos{
    color:#2E335E;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.btn-modulos-info{
    display: flex;
    justify-content: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    align-items: center
    
}

.btn-infografia{
    /* width: 4rem;
    height: 4rem; */
    padding: 1rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 2px 2px 1px rgb(151, 152, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%

}


.btn-info-text{
    color: #1A1F46;
    font-size: 1.1rem;
    margin-left: 1rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: .6rem;
    line-height: 1.2rem;
    width: 80%;
    border-bottom: 1px solid #EF8B44
    
}


.btn-aprendamos-aliados{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.btn-azul-aprendamos{
    background: #2E335E;
    color: #fff;
    padding: 1rem;
    border-radius: 25px;
    border: 1.3px solid #1A1F46;
    box-shadow: 1px 1px 1px 1px #1A1F46;
    font-size: 1rem;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: .07rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.btn-azul-aprendamos:hover{
    color: #2E335E;
    background: #fff;
    -webkit-text-stroke: 1px #2E335E;
    box-shadow: 1px 1px 1px 1px #1A1F46;
}


@media (max-width: 1024px) {
    .title-modulo {
        font-size: 1.5rem;
        margin-top: 0rem;
        /* margin-bottom: 10rem; */
        line-height: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }

    .box-title-modulo {
        padding-top: 8rem;
    padding-bottom: 3.5rem;
    }

    .list-modulo {
        margin-top: -1.8rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        margin-bottom: 5rem;
    }

    .box-icon {
        width: 2.5rem;
    }

    .icono-modulo-tip {
        width: 2.5rem;
    }

    .box-text-modulo h3 {
        font-weight: 600;
        font-size: 1rem;
    }

    .box-text-modulo {
        margin: 0.5rem 0.5rem 0rem 1rem;
    }

    .modal-content {
        position: relative;
        display: flex;
        margin: auto;
        flex-direction: column;
        width: 90%;
    }



    /* MODULOSSSS */

    .box-modulos-aliados{
        margin-top: 6rem;
        padding-top: 2.5rem;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-bottom: 2rem;
    }

    .box-modulos-textos{
        padding-left: 2rem!important;
        padding-right: 2rem!important;
    }

    .title-modulos-aliados{
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin-bottom: 1rem;
    }

    .flecha-abajo-aliado{
        width: 10%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .text-materiales-aliados{
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin-top: 1rem;
        margin-bottom: 2rem
    }

    .box-materiales-modulos{
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        margin-top: 2rem
    }

    .title-materiales-modulos{
        font-size: 1.1rem;
        margin-top: 1rem;
    }
    .subtitle-materiales-modulos{
        font-size: 1rem;
        text-align: center;
        line-height: 1.1rem;
    }
    .btn-modulos-info{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2.5rem;
        margin-top: 2rem;
    }

    .btn-info-text{
        font-size: .85rem;
        margin-left: 1rem;
        line-height: 1rem;
    }
    

    .btn-aprendamos-aliados{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 3rem
    }
    

    .btn-azul-aprendamos{
        padding: .6rem;
        border-radius: 25px;
        border: 1.3px solid #1A1F46;
        box-shadow: 1px 1px 1px 1px #1A1F46;
        font-size: .8rem;
        -webkit-text-stroke: 1px #fff;
        letter-spacing: .07rem;
        /* width: 100% */
    }
    

}