.title-modulo {
    text-align: center;
    color: #ffffff;
    font-size: 3.5rem;
    line-height: 2.5rem;
    -webkit-text-stroke: 1.5px #ffffff;
    letter-spacing: 0.9px;
    font-family: "Questrial";
    margin-top: 2rem;
    margin-bottom: 10rem;
    font-weight: 500;
   line-height: 4rem;
}
.box-title-modulo {
    background: #7DC7C5;
    display: flex;
    flex-direction: column;
    padding-top: 9rem;
    /*height: 100vh;
      width: 100%;*/
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  
  }

  .list-modulo{
    margin-top: -6rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 5rem;

}
.box-text-modulo{
display: flex;
/* flex-direction: column; */
/* text-align: center; */
font-family: "Questrial";
color: #2e335e;
margin: 0.5rem 0.5rem 0rem 2rem;
align-items: center;
}
.box-text-modulo h3{
font-weight: 600;
}

.icono-modulo-tip{
    width:4rem
}
.box-icon{
    width:4rem;
}

.letter-modal{
color: #2e335e;
font-family: "Questrial";
font-size: 1.2rem;
text-align: center;
margin-bottom: 0;
-webkit-text-stroke: 1px #2e335e;
}
.tittle-letter-modal{
    color: #2e335e;
    font-family: "Questrial";
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
    -webkit-text-stroke: 0.1rem #2e335e;
    }

.font-white{
    color: #ffffff;
    font-family: "Questrial";
    font-size: 1.1rem;
}
.btn-navy-blue:hover,
.btn-navy-blue:focus {
  border: 3.5px #1A1F46;
  text-decoration: none;

  font-size: 1.3rem!important;
}
.modal-dialog {
    max-width: 40rem!important;
    margin: 1.75rem auto;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem auto!important;
}