.video-bg{
    /* background-image: url('../../images/home-img/nino2.png'); */
    height: 100vh;
    background-size: cover;
    background-position: top;
    
  }
  .video-bg video{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;

    
  }


  .titulo-home{
    width: 15rem;
    margin-bottom: .8rem;
    height: 100%
  }
  .fondo-mobile-home{
width: 100%;
height: 94vh;
  }

  .text-proposito{
    width: 90%;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
  
  }
  .text-proposito h1{
    text-transform: uppercase;
    font-size: 1.7rem;
    color:#7DC7C5;
    font-family: 'Questrial';
    font-weight: bolder!important;
    line-height: 1.2rem;
    -webkit-text-stroke: 1px #7dc7c5;
    letter-spacing: 1px;
  }
  .text-proposito .megafono{
    width: 3rem;
    height: auto;
    margin-top: -2rem
  }
  .m-b-xs{
    margin-bottom: 1.5rem
  }
  .text-proposito .h1-proposito{
    margin-left: 4.5rem;
    margin-bottom: 1rem;
    line-height: 1.3rem;
  }
  .text-proposito p{
    line-height: 1.3rem;
    font-family: 'Questrial', sans-serif;
    font-size: .9rem;
    letter-spacing: .02rem
  }
 
  
  .nosotros-home{
    font-family: 'Questrial', sans-serif;
    text-align: center
  }

  .mt-nosotros{
    margin-top: 5rem;
  }
  .nosotros-home h2{
    text-transform: uppercase;
    color: #7DC7C5;
    font-weight: 800;
    font-size: 1.6rem;
    -webkit-text-stroke: 1px #7dc7c5;
    letter-spacing: 1px
  }
  .nosotros-home p{
    line-height: 1.2rem;
    font-size: .9rem;
    letter-spacing: .5px
  }
  .nosotros-home .btn-orange{
    position: relative;
      top: 1.4rem;
  }
  .estrellita-home{
    margin-bottom: .8rem;
  }
  .box-estrategias{
    margin-top: 1.8rem;
    width: 100%;
    display: flex;
  }
   .box-estrategias .card{
    width: 34%;
    border: 0px
  }
   .box-estrategias .card-img-top{
    width: 35%;
    margin: auto
  }
  .img-des-fisico img{
    width: 43.1%;
    margin: auto;
   }
   .box-estrategias .card-body{
    padding: .5rem;
    color: #7DC7C5;
    -webkit-text-stroke: .5px #7dc7c5;
    letter-spacing: .3px
  }
  
  /* .group-nosotros{
    position: relative;
    left: -30%;
    bottom: -2.2rem;
    width: 100%;
  } */
  .stars-home{
    position: relative;
    width: 100%
  }
  .stars-home img{
    width: 30%
  }
  .star-left{
    position: absolute;
    left: 0rem;
    top:-4rem
  }
  .star-right{
    position: absolute;
    right: 0rem;
    top:-4rem
  }
  .cohete{
    position: relative;
    bottom: -4.5rem;
    z-index: 1;
    display: block;
    /* left: 50%;
    transform: translate(-50%); */
    margin: 0 auto;
    width: 30%;
    top: 3rem;
  
  }
  .img-estrategias{
    width: 20%;
    height: auto;
  }
  
  .equipo-home{
    background-color: #7DC7C5;
    z-index: 5;
    position: relative;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 1rem;
 
  }
  .equipo-home h2{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Questrial';
    padding-top: 2rem;
    margin-bottom: -1rem;
    font-size: 1.6rem;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 1px;
  }
  .equipo-home .card{
  background-color: rgba(0,0,0,0);
  border:none
   }
   .equipo-home .card img{
     width: 14rem;
     height: auto;
     margin: auto;
    /* box-shadow: 6px 5px 8px -2px rgba(0,0,0,0.56);
     border-radius: 25px; */
   }
  .equipo-home .card-body{
    background-color: #ef8b44de;
    /* opacity: .9; */
    width: 13rem;
    margin: auto;
    position: relative;
    top: -4rem;
    height: 4.2rem;
    padding: .8rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-weight: 400;
    text-align: left;
    padding-left: 1.5rem
  }
  .equipo-home .card-body h6{
    color: #fff;
    font-family: "Questrial";
    font-size: .89rem;
    line-height: .95rem;
    letter-spacing: .5px;
  }
  .equipo-home .controls-top{
    top: 9rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    font-size: 1.5rem
  }
  .equipo-home .controls-top a{
    color: #fff
  }
  .equipo-home .carousel-indicators{
    bottom: -15%
  }

  .equipo-home .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border-bottom: none;
    border-top: none;
    margin-top: -2rem
  
  }


  
  .momento-home .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border-bottom: none;
    border-top: none;
    background-color: #7dc7c5
  
  }
  
  .momento-home .carousel-caption{
    left: 0%;
    right: 0%;
    bottom: 6%;
  }
  .momento-home .carousel-caption .box-title-slide{
    background-color: #fff;
    width: 90%;
    margin: auto;
    height: 5rem;
    border-radius: 18px
  }
  
  .carousel-caption-text{
    position: absolute;
      z-index: 5;
      color: #fff;
      top: 2rem;
      text-align: center
  }
  
  .carousel-caption-text h2{
    color: #7dc7c5;
    text-transform: uppercase;
    font-size: 1.55rem;
    -webkit-text-stroke: 1.1px #7dc7c5;
    letter-spacing: .5px;
    text-align: center;
    z-index: 2;
  }
  
  .carousel-caption-text p{
    color: #2E335E;
    font-size: .89rem;
    line-height: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    top: -.3rem
  
  }
  .share{
   position: absolute;
   width: 50%
   
  }
  
  .share-img{
    width: 20%;
    position: absolute;
    left: -.5rem;
    top:-1.1rem
  }
  .share-img:hover{
    box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.75);
    border-radius: 50px
  }
  
  .title-slide{
    text-transform: uppercase;
    color: #AE96B2;
    padding: 1rem 1rem;
    text-align: left;
    -webkit-text-stroke: 1px #AE96B2;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center
    
    
  }
  .title-slide h4{
    font-size: 1.2rem;
    text-align: center
    
  }
  .title-slide img{
    width: 2.3rem;
    margin-left: 0rem;
    margin-top: -1rem
  }
.text-fuxia{
  color:#EB477A;
  -webkit-text-stroke: 1px #EB477A;
}
.text-celeste{
  color: #7DC7C5;
  -webkit-text-stroke: 1px #7DC7C5;
}

.text-amarilloo{
  color: #F7B919;
  -webkit-text-stroke: 1px #F7B919;
}

 
  /* DESKTOP */
@media (min-width: 769px) {
  html {
   font-size: .98vw;
   font-family: 'Questrial';
  } 
  /* .video-bg{
    width: 100%;
    height: 100%;
    
    
  } */
 
 /* HOME */
  .text-proposito .h1-proposito{
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    /* -webkit-text-stroke: 2px #7dc7c5; */
    font-weight: bolder;
  
  }
  .text-proposito h1{
   font-size: 2.5rem;
   line-height: 2.3rem;
   font-weight: bolder;
   /* -webkit-text-stroke: 2px #7dc7c5; */
 }
  .text-proposito .megafono{
   width: 5rem
 }
 .text-proposito{
   width: 40%
 }
.text-proposito .btn-orange{
  position: relative;
    top: 1.5rem;
}
 .titulo-home{
  width: 24rem;
  margin-bottom: 1rem;
}

 .mt-4-xl{
   margin-top: 1.6rem;
   margin-bottom: 2.5rem
 }
 .fuerte-desktop{
  -webkit-text-stroke: .15px #fff;
  letter-spacing: .1rem
 }
 .text-proposito p, .nosotros-home p{
   font-size: 1.4rem;
   line-height: 1.8rem;
   letter-spacing: .07rem
 }
 .arrow-orange{
   width: 1.5rem;
   margin-left: 4px;
   margin-right: 4px;
 }
 .btn-orange{
 background-color: #EF8B44;
 padding: 14px 12px;
 font-size: 1.2rem;
 letter-spacing: 1.5px;
 }
 .mt-nosotros{
  margin-top: 7rem;
  }
 .stars-home img{
  width: 20%
  }
 .nosotros-home p{
   width: 70%;
  margin: 0 auto
  }
 .nosotros-home h2{
   font-size: 2.5rem;
   margin-bottom: 1.3rem
 }
 .group-nosotros{
   width: 80%;
 }
 .estrellita-home{
   margin: 2rem auto!important;
   font-size: 3rem!important;
 }

 .subtitulo-home{
   font-size: 1.5rem!important
 }
 .img-estrategias{
  width: 10%;
  height: auto;
 }
 .box-estrategias{
   margin-top: 4rem;
   margin-bottom: 3rem;
   display: flex;
    justify-content: center;
 }
 .box-estrategias .card{
   width: 30%;
 }
 .card-text-home{
  font-size: 1.5rem!important;
  line-height: 1.5rem!important;
 }

  .box-estrategias .card-img-top{
   width: 28%;
 
 }
 .img-des-cognitivo img{
  width: 30.1%!important
 }
 .img-des-fisico img {
  width: 33.1%;
}
 
 .cohete{
   top:7rem;
   width: 20%;
 }

 .equipo-home{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.equipo-home h2{
  font-size: 2.5rem;
}
.box-equipo-desktop{
  margin-top: 3rem;
  padding-bottom: 4rem
}
.equipo-home .card img{
  width: 20rem
}
.equipo-home .card-body{
  width: 17rem
}
.equipo-home .card-body h6{
  font-size: 1rem
}
.equipo-home .controls-top{
  top: 12rem;
}
.momento-home h2{
  font-size: 2.5rem;
}
.momento-home p{
  font-size: 1.5rem;
  
}
.momento-home .carousel-caption-text{
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  top: 4rem
}
.momento-home .carousel-caption .box-title-slide{
  width: 45%;
  margin: auto;
  height: 8rem;
  border-radius: 25px;
  
}
.title-slide{
  /* font-size: 2.5rem; */
  padding: 2.3rem 3.5rem;
  height: 8rem;
  
}

.title-slide h4{
  font-size: 2.3rem;
}
.title-slide img{
  width: 5rem;
  margin-left: .5rem
}

.share{
  width: 25%
}
 .share-img{
   width: 18%;
   position: absolute;
   left: -2rem;
   top:-2rem
 }
 .carousel-caption-text h2{
   font-size: 2.7rem
 }
 .carousel-caption-text p{
   top: 1rem;
   width: 70%;
   margin: 0 auto;
   line-height: 1.5rem
 }
 .momento-home .carousel-item img{
   object-fit: contain!important;
 
 }
 .momento-home .carousel-item{
  height: 50rem!important;
  width: 100%!important
}


}
 
