.box-title-cuidador {
  padding-top: 5.5rem;
  background-color: #ae96b2;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 100%;
}


.title-cuidador {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.5rem;
  -webkit-text-stroke: 1px #ffffff;
  letter-spacing: 0.9px;
  font-family: "Questrial";
  margin-top: 4rem;
}


.box-row-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center
}

.box-row-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}

.box-text {
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
  width: 50%;
  margin: .5rem auto;
  
}
.left-star-cuidador {
  width: 10rem;
  height: 8rem;
  position: relative;
  top: 1.5rem;
}
.right-star-cuidador {
  width: 10rem;
  height: 8rem;
  position: relative;
  top: 1.5rem;
}

.icon-bienvenida-cuidador {
  width: 3.5rem;
  height: auto;
  margin: 0rem;
  position: relative;
  top: 1rem;
  right: .3rem;
}

/* .style-text-center {
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.9px;
  font-family: "Questrial";
} */


.btn-areas {
  display: flex;
  justify-content: center;
  padding: 2rem 3rem 3rem 3rem;
}

.area-higiene {
  border: 0.8rem solid #7dc7c5;
  border-radius: 1.5em;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;


}
.area-higiene:hover,
.area-higiene:hover{
  box-shadow: 3px 10px 22px #7dc7c5;
}


.area-socioEmocional {
  border: 0.8rem solid #ae96b2;
  border-radius: 1.5em;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center
}
.area-socioEmocional:hover,
.area-socioEmocional:hover{
  box-shadow: 3px 10px 22px #ae96b2;
}

.area-rutina {
  border: 0.8rem solid #ef8b44;
  border-radius: 1.5em;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.area-rutina:hover,
.area-rutina:hover{
  box-shadow: 3px 10px 22px #ef8b44;
}


.area-juego {
  border: 0.8rem solid #f7b919;
  border-radius: 1.5em;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center
}
.area-juego:hover,
.area-juego:hover{
  box-shadow: 3px 10px 22px #f7b919;
}


.area-nutricion {
  border: 0.8rem solid #eb477a;
  border-radius: 1.5em;
  margin: 1rem;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.area-nutricion:hover,
.area-nutricion:hover{
  box-shadow: 3px 10px 22px #eb477a;
}



.area-sesamo {
  border: 0.8rem solid #05AB4C;
  border-radius: 1.5em;
  margin: 1rem;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center
}
.area-sesamo:hover,
.area-sesamo:hover{
  box-shadow: 3px 10px 22px #05AB4C;
}



.icon-area {
  width: 5rem;
  height: auto;
  margin: 0 auto
}

.icon-sesamo {
  height: 9rem;
  margin: 0rem 2rem 0rem 2rem;
}

.text-area-higiene {
  text-align: center;
  font-family: "Questrial";
  margin-top: 1rem;
  color: #7dc7c5;
  -webkit-text-stroke: 1.5px #7dc7c5;
  font-size: 1.5rem;
  line-height: 1.6rem
}

.text-area-social {
  text-align: center;
  font-family: "Questrial";
  margin-top: 1rem;
  color: #ae96b2;
  -webkit-text-stroke: 1.5px #ae96b2;
  font-size: 1.5rem;
}
.text-area-rutina {
  text-align: center;
  font-family: "Questrial";
  margin-top: 1rem;
  color: #ef8b44;
  -webkit-text-stroke: 1.5px #ef8b44;
  font-size: 1.5rem;
}
.text-area-juego {
  text-align: center;
  font-family: "Questrial";
  margin-top: 1rem;
  color: #f7b919;
  -webkit-text-stroke: 1.5px #f7b919;
  font-size: 1.5rem;
}
.text-area-nutricion {
  text-align: center;
  font-family: "Questrial";
  margin-top: 1rem;
  color: #eb477a;
  -webkit-text-stroke: 1.5px #eb477a;
  font-size: 1.5rem;
  line-height: 1.6rem
}

.estrellita-lila{
  color: #ae96b2;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem
}

.caja-compartir-hola{
  width: 30%;
  margin: auto;
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
}


@media (max-width: 768px) {
  .show-desktop {
    display: none;
  }
  .hide-desktop {
    display: block;
  }

  .box-title-cuidador {
    padding-top: .5rem;
    height: 17rem;
  }

  .title-cuidador {
font-size: 1.6rem;
margin-top: 3rem
  }
  .icon-bienvenida-cuidador {
    width: 2.5rem;
   
  }

  .left-star-cuidador {
    width: 6rem;
    height: 3rem;
    position: relative;
    top: 1.5rem;
  }
  .right-star-cuidador {
    width: 6rem;
    height: 3rem;
    position: relative;
    top: 1.5rem;
  }
  .box-text {
    color: #fff;
    text-align: center;
    font-size: .85rem;
    line-height: 1.1rem;
    letter-spacing: .25px;
    width: 75%
  
  }
  .box-saludo {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    font-size: 2rem;
  }
  
  .box-row-1 {
    margin-bottom: 0rem;
    margin-top: 2rem;
  }
  .style-text-center {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.9px;
    font-family: "Questrial";
  }
  .start-center{
    font-size: 2rem;
    margin:1rem;
    text-align: center;
  }
  .margin-video {
    margin: 1rem;
  }

/*mobile-botones-areas*/
.btn-areas {
    display: flex;
    padding: 0.5rem;
  }
  
  .area-higiene {
    border: 0.4rem solid #7dc7c5;
    border-radius: 2em;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    height: 8rem;
    width: 9rem;
    margin: auto
  }
  .area-socioEmocional {
    border: 0.5rem solid #ae96b2;
    border-radius: 2em;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    height: 8rem;
    width: 9rem;
    margin: auto
  }
  .area-rutina {
    border: 0.5rem solid #ef8b44;
    border-radius: 2em;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    height: 8rem;
    width: 9rem;
    margin: auto
  }
  
  .area-juego {
    border: 0.5rem solid #f7b919;
    border-radius: 2em;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    height: 8rem;
    width: 9rem;
    margin: auto
  }
  .area-nutricion {
    border: 0.5rem solid #eb477a;
    border-radius: 2em;
    margin: 0.2rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    height: 8rem;
    width: 9rem;
    margin: auto
  }

  .area-sesamo {
    border: 0.5rem solid #05AB4C;
    border-radius: 2em;
    margin: 0.2rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    height: 8rem;
    width: 9rem;
    margin: auto
  }
  
  .icon-area {
    position: relative;
    width: 2.5rem;
    top: .8rem
  }
  
  .text-area-higiene {
    font-size: 0.8rem;
    line-height: 1rem
  }
  
  .text-area-social {
    font-size: 0.8rem;
  }
  .text-area-rutina {
    font-size: 0.8rem;
  }
  .text-area-juego {
    font-size: 0.8rem;
  }
  .text-area-nutricion {
    font-size: 0.8rem;
    line-height: 1rem
  }
  
  .icon-sesamo {
    height: 3.5rem;
    /* margin: 0rem 1rem 0rem 1rem; */
  }

  .estrellita-lila{
    font-size: 1.3rem;
    margin-top: 1rem
  }
.caja-compartir-hola{
  margin-top: 1.5rem!important;
  margin-bottom: 1.5rem!important;
  width: 90%;
}
.text-tienes-todo{
  width: 90%;
  margin: auto
}
}
