.footer-box{
    padding-top: 5rem;
    border-top: .8rem solid #7DC7C5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
   background: #fff;
   }
   
   .box-redes{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row
   }
   
   .box-redes img{
     width: 80%;
     height: auto;
   }
   .box-convenio{
     display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2.5rem
   }
   .box-ubicacion, .box-correo, .box-telefono{
     margin-bottom: 1.6rem
   }
   .box-ubicacion p{
     font-size: 1rem;
     line-height: .3rem
   }
   .box-ubicacion .text-small{
     font-size: .88rem
   }
   
   .box-correo p, .box-telefono{
     font-size: 1rem;
     line-height: .3rem
   }
   .aporta{
    width: 8rem;
  }
  .breca{
    width: 7.4rem
  }

   @media (min-width: 769px) {
    html {
     font-size: .98vw;
     font-family: 'Questrial';
    }
    .footer-box{
      flex-direction: row;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
   
    .box-convenio{
      flex-direction: column;
      width: 23%;
      margin-bottom:0rem;
    }
    .box-ubicacion, .box-telefono, .box-correo,.box-redes{
      width: 19%;
    }
    .aporta{
      width: 10rem;
    }
    .breca{
      width: 9.4rem
    }
    .ubicacion, .telefono, .correo{
      width: 3.5rem
    }
    .box-ubicacion p{
      font-size: 1.2rem;
      line-height: .5rem
    }
    .box-ubicacion .text-small{
      font-size: 1.2rem;
    }
    .box-correo p, .box-telefono{
      font-size: 1.2rem;
      line-height: .5rem
    }
  }
