.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2rem;
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box
}
.toggle-button:focus{
    outline: none;
}
.toggle-button_line{
    width: 2rem;
    height: .2rem;
    background: #7dc7c5;
    border-radius: 50px;
}

/* @media(max-width: 768px){
    .toggle-button_line{
        width: 
    }
} */