.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 26px;
    width: 27px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box
}
.toggle-button:focus{
    outline: none;
}
.toggle-button_line{
    width: 30px;
    height: 3px;
    background: #7dc7c5;
    border-radius: 50px;
}