.side-drawer{
    height: 100%;
    background: #7dc7c5;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-105%);
    transition: transform 0.3s ease-out;
}
.side-drawer.open{
    transform: translateX(0%) 
}
.side-drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li{
    margin: 0.5rem 1.8rem;
}

.side-drawer a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
.side-drawer a:hover,
.side-drawer a:active{
    color: #fa923f;
}
.list-sidedraw{
    position: relative;
}
.list-sidedraw .box-flecha{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #7dc7c5;
    right: -5%;
    top: 28%;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center

}
.list-sidedraw .box-flecha figure{
    margin: 0;
   margin-left: 2rem;
   
}



.is-activeHomeMobile{
    color: #fa923f!important;
}

.list-sidedraw a:hover{
    text-decoration: none;
    font-weight: 500;
    color:#ffffff ;
}
.select-perfil{
    position: absolute;
    background: #fff;
    /* left: 25%; */
    top: 23rem;
    width: 100%;
}
.select-perfil li{
    line-height: .8rem!important;
    margin: .7rem .7rem
}

.sub-Item{
    margin-left: 4rem;
    color: #7dc7c5!important;
    font-size: .85rem!important;
    
}

@media(min-width: 768px){
    .side-drawer{
        display: none;
    }
}