.fase3-image{
 background: #EF8B44
}
.box-ajustes-estructurales{
    padding: 1rem;
}

.title-fase3-ajustes{
    color: #EF8B44
}
.estrellita-naranja{
    color: #EF8B44;
    text-align: center;
}
.box-ajustes-importantes{
    display: flex;
    width: 100%;
   padding-left: 1rem;
   padding-right: 1rem
}
.figure-img-ajustes{
    width: 13%;
    
}
.figure-img-ajustes img{
    width: 90%;
}

.box-texto-ajustes{
    width: 87%
}
.box-ajustes-importantes h6{
    -webkit-text-stroke: 1px #2E335E;
}

.box-ajustes-importantes p{
    margin-top: -.4rem
}
.btn-modelo-volar{
    padding: 1rem;
    font-family: "Questrial";
    -webkit-text-stroke: 1px #7DC7C5;
    letter-spacing: .07rem;
    color: #7DC7C5
}

.box-boton-fase3{
    font-size: 1.3rem;
    -webkit-text-stroke: .8px ;
    letter-spacing: .06rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border: 1px solid #f3eeee;
    border-radius: 1.1rem ;
    padding: .9rem 0rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #e7e2e2;
    text-decoration: none;
}