@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial';
}
html{
  font-size: 4.6vw;
}

* {
  margin: 0;
  padding: 0
}
.arrow-orange{
  width: 1.2rem;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.arrow-blue{
  width: 1.7rem;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn-orange{
background-color: #EF8B44;
padding: 12px 6px;
border-radius: 25px;
box-shadow: 1px 1px 1px 1px #CE6A24;
text-transform: uppercase;
font-size: .8rem;
}


.btn-light-blue{
  background-color: #7DC7C5;
  padding: 12px 20px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px #28ABA9;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  text-decoration:none!important;
  font-weight: 600!important;
  display: flex;
  }

  .btn-navy-blue{
    background-color: #2E335E;
    padding: 12px 20px;
    border-radius: 25px;
    border: 4px solid #1A1F46;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    text-decoration:none!important;
    font-weight: 600!important;
    display: block;
    margin:0 auto;
    }

.font-color-orange{
  color:#EF8B44!important
}
.title{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.2rem;
  -webkit-text-stroke: 1px #000;
  letter-spacing: .9px

}
.p-mobile-blue{
  font-family: 'Questrial';
  color: #2E335E;
  font-size: .85rem;
  line-height: 1.1rem;
  letter-spacing: .25px
}

.letra-gruesa-azul{
  -webkit-text-stroke: .8px #2E335E;
  font-size: .92rem
}
.text-aguamarina{
  color: #7DC7C5;
}
.text-blue-volar{
  color: #2E335E
}

.text-lila{
  color:#AE96B2
}
.border-top-radius{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.border-bottom-radius{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}


.w-30{
  width: 30%
}
.w-25{
  width: 25%
}
.w-20{
  width: 20%
}
.w-22{
  width: 22%
}
.w-35{
  width: 35%
}
.w-40{
  width: 40%
}
.w-45{
  width: 45%
}
.w-55{
  width: 55%
}
.w-60{
  width: 60%
}
.w-65{
  width: 65%
}
.w-70{
  width: 70%
}
.w-80{
  width: 80%
}
.w-90{
  width: 90%
}
.w-100{
  width: 100%;
}

.hide-desktop{
  display: none;
}

.show-desktop{
  display: block;
}

.hide-mobile{
  display: none;
}
 .show-mobile{
  display: block;
 }
.mostrar-mobile-important{
  display: block!important
}
.ocultar-mobile-important{
  display: none!important
}

/* TABLET */
@media (min-width: 992px) {
  /* .equipo-home .card img{
    width: 10rem
  } */
}
/* TABLET */


/* DESKTOP */
@media (min-width: 769px) {
  html {
   font-size: .98vw;
   font-family: 'Questrial';
  } 
  .hide-mobile{
    display: block;
  }
  .show-mobile{
    display: none;
   }
   .ocultar-desktop-important{
     display: none!important
   }
.p-mobile-blue{
  font-size: 1.4rem;
  line-height: 1.8rem
}
.title{
  font-size: 2.5rem
}
.text-white{
  font-size: 1.4rem;
}

}
