@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial';
  height: 100%;
}
html{
  font-size: 4.6vw;
  height: 100%;
}

* {
  margin: 0;
  padding: 0
}
.arrow-orange{
  width: 1.2rem;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.arrow-blue{
  width: 1.7rem;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn-orange{

 font-family: "helvetica";
 font-weight: 550;
 letter-spacing: .07rem;
background-color: #EF8B44;
border:1.3px solid #CE6A24;
padding: 12px 6px;
border-radius: 25px;
box-shadow: 1px 1px 1px 1px #CE6A24;
text-transform: uppercase;
font-size: .8rem;
}
.btn-orange:hover,
.btn-orange:focus{
  
  border: 3px solid #CE6A24;
  text-decoration: none;
}

.btn-light-blue{
  background-color: #7DC7C5;
  padding: 10px 2px;
  border-radius: 25px;
  border:2px solid #28ABA9;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  text-decoration:none!important;
  font-weight: 600!important;
  display: flex;
  font-family: 'Questrial';
  }
.btn-light-blue:hover,.btn-light-blue:focus{
  box-shadow: 2px 2px 2px 2px #28ABA9;
  text-decoration: none;
}
  .btn-navy-blue{
    background-color: #2E335E;
    padding: 10px 2px;
    border-radius: 25px;
    border: 4px solid #1A1F46;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    text-decoration:none!important;
    font-weight: 600!important;
    display: block;
    margin:0 auto;
    font-family: 'Questrial';
    }

.font-color-orange{
  color:#EF8B44!important
}
.title{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.2rem;
  -webkit-text-stroke: 1px #000;
  letter-spacing: .9px

}
.p-mobile-blue{
  font-family: 'Questrial';
  color: #2E335E;
  font-size: .85rem;
  line-height: 1.1rem;
  letter-spacing: .25px
}
.p-mobile-white{
  font-family: 'Questrial';
  color: #fff;
  font-size: .85rem;
  line-height: 1.1rem;
  letter-spacing: .25px
}

.letra-gruesa-azul{
  -webkit-text-stroke: .8px #2E335E;
  font-size: .92rem
}
.text-aguamarina{
  color: #7DC7C5!important;
}
.text-blue-volar{
  color: #2E335E
}

.text-lila{
  color:#AE96B2
}
.border-top-radius{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.border-bottom-radius{
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.w-10{
  width: 10%
}
.w-12{
  width: 12%
}
.w-15{
  width: 15%
}
.w-25{
  width: 25%
}
.w-30{
  width: 30%
}
.w-25{
  width: 25%
}
.w-20{
  width: 20%
}
.w-22{
  width: 22%
}
.w-35{
  width: 35%
}
.w-40{
  width: 40%
}
.w-45{
  width: 45%
}
.w-55{
  width: 55%
}
.w-60{
  width: 60%
}
.w-65{
  width: 65%
}
.w-70{
  width: 70%
}
.w-80{
  width: 80%
}
.w-90{
  width: 90%
}
.w-100{
  width: 100%;
}

.fondo-azul{
  background: #2E335E
}

.fondo-blanco{
  background: #fff
}

.fondo-celeste{
  background: #7DC7C5;
}
.hide-desktop{
  display: none;
}

.show-desktop{
  display: block;
}

.hide-mobile{
  display: none;
}
 .show-mobile{
  display: block;
 }
.mostrar-mobile-important{
  display: block!important
}
.ocultar-mobile-important{
  display: none!important
}



/* TABLET */
@media (min-width: 992px) {
  /* .equipo-home .card img{
    width: 10rem
  } */
}
/* TABLET */


/* DESKTOP */
@media (min-width: 769px) {
  html {
   font-size: .98vw;
   font-family: 'Questrial';
  } 
  .hide-mobile{
    display: block;
  }
  .show-mobile{
    display: none;
   }
   .ocultar-desktop-important{
     display: none!important
   }
   .mostrar-desktop-important{
    display: block!important
  }


.p-mobile-blue{
  font-size: 1.4rem;
  line-height: 1.8rem
}
.p-mobile-white{
  font-size: 1.4rem;
  line-height: 1.8rem
}
.title{
  font-size: 2.5rem
}
.text-white{
  font-size: 1.4rem;
}

}


/* Animaciones */

.tracking-in-expand-fwd-top{-webkit-animation:tracking-in-expand-fwd-top .8s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand-fwd-top .8s cubic-bezier(.215,.61,.355,1.000) both}

 @-webkit-keyframes tracking-in-expand-fwd-top{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px) translateY(-500px);transform:translateZ(-700px) translateY(-500px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}@keyframes tracking-in-expand-fwd-top{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px) translateY(-500px);transform:translateZ(-700px) translateY(-500px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}

.bounce-in-right{animation:bounce-in-right 1.1s both}
@keyframes bounce-in-right{0%{transform:translateX(600px);animation-timing-function:ease-in;opacity:0}38%{transform:translateX(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateX(68px);animation-timing-function:ease-in}72%{transform:translateX(0);animation-timing-function:ease-out}81%{transform:translateX(32px);animation-timing-function:ease-in}90%{transform:translateX(0);animation-timing-function:ease-out}95%{transform:translateX(8px);animation-timing-function:ease-in}100%{transform:translateX(0);animation-timing-function:ease-out}}

.vibrate-1{-webkit-animation:vibrate-1 .3s linear infinite both;animation:vibrate-1 .3s linear infinite both}
@-webkit-keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

.heartbeat{-webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both}

 @-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}


 .wobble-hor-bottom{-webkit-animation:wobble-hor-bottom .8s both;animation:wobble-hor-bottom .8s both}

@-webkit-keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}

.slide-in-left{-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both}

 @-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

 .wobble-ver-right{-webkit-animation:wobble-ver-right 1.2s infinite both;animation:wobble-ver-right 1.2s infinite both}

@-webkit-keyframes wobble-ver-right{0%,100%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateY(-30px) rotate(6deg);transform:translateY(-30px) rotate(6deg)}30%{-webkit-transform:translateY(15px) rotate(-6deg);transform:translateY(15px) rotate(-6deg)}45%{-webkit-transform:translateY(-15px) rotate(3.6deg);transform:translateY(-15px) rotate(3.6deg)}60%{-webkit-transform:translateY(9px) rotate(-2.4deg);transform:translateY(9px) rotate(-2.4deg)}75%{-webkit-transform:translateY(-6px) rotate(1.2deg);transform:translateY(-6px) rotate(1.2deg)}}@keyframes wobble-ver-right{0%,100%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateY(-30px) rotate(6deg);transform:translateY(-30px) rotate(6deg)}30%{-webkit-transform:translateY(15px) rotate(-6deg);transform:translateY(15px) rotate(-6deg)}45%{-webkit-transform:translateY(-15px) rotate(3.6deg);transform:translateY(-15px) rotate(3.6deg)}60%{-webkit-transform:translateY(9px) rotate(-2.4deg);transform:translateY(9px) rotate(-2.4deg)}75%{-webkit-transform:translateY(-6px) rotate(1.2deg);transform:translateY(-6px) rotate(1.2deg)}}

.kenburns-top{-webkit-animation:kenburns-top 5s both;animation:kenburns-top 5s both}

 @-webkit-keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}@keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}

.slide-in-bottom{-webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}

.ping{-webkit-animation:ping .8s ease-in-out infinite both;animation:ping .8s ease-in-out infinite both}

 @-webkit-keyframes ping{0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}@keyframes ping{0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:.8}80%{-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}100%{-webkit-transform:scale(2.2);transform:scale(2.2);opacity:0}}

 .heartbeat{-webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both}

 @-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}




.animated {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}



.grande{
  width: 100vw;
  height: 100vh;
 
}
.centrando-spiner{
  position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
  margin: 0 auto
}