.contactanos-box{
    padding-top: 2rem;
    margin-bottom: 5rem
}
.textarea{
    height: 10rem;
}

.caja-boton-contactanos{
    width: 90%;
    margin: auto
}
.text-contactanos{
padding-bottom: 1.5rem;
/* text-transform: uppercase */
}


@media (min-width: 769px) {
    .caja-boton-contactanos{
        width: 35%
    }
    .contactanos-box{
        padding-top: 7rem;
        margin-bottom: 10rem
    }

}